<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/assets/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/public/assets/js/kitchen.js"></script>
    <title>Cut Throat Kitchen</title>
</head>

<body>
    <style>
        body {
            background-image: url('/public/images/main.jpg');
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-color: #464646;

        }
    </style>




<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <a class="navbar-brand" href="/views/main.html">
            <h1>ZELDA</h1><br>
            <h3>CUT THROAT KITCHEN</h3>
        </a>
        <img src="/public/images/crest.png" alt="crest" id="crest">
</header>

<div class="container">
    <!-- <img src="/public/images/tableBackground.jpg" id="tableBackground" alt="tableBackground"> -->
</div>
</body>
</html>