body {
    background-image: url('/public/images/link2.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;

  }


div .container {
    display: inline-block;
    text-align: center;
  }

#enterBTN {
    background-color: #333;
    color: #f2f2f2;
    border-radius: 0.5rem;
    text-align: center;
    width: 30vw;
    height: 2.5rem;
    border: 2px red solid;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 10px;
    font-family: fantasy;  
    color: #000;
    text-shadow:
        3px 3px 0 red,
      -1px -1px 0 red,  
       1px -1px 0 red,
       -1px 1px 0 red,
        1px 1px 0 red;
}

a:hover {
    opacity: 0.75;
}

h1 {
    color: red;
    margin-left: 6rem;
    margin-top: 20px;
    font-size: 5vw;
    font-family: fantasy;
    /* font-weight: bold; */
    text-shadow:
    3px  3px 0 #000,
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}

h3 {
    color: red;
    margin-left: 20px;
    font-family: fantasy;
    font-size: 2.5vw;
    text-shadow:
    3px  3px 0 #000,
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}
